@page
@using _0_Framework.Application
@using Newtonsoft.Json
@model ServiceHost.Areas.Administration.Pages.IndexModel
@{
    ViewData["Title"] = "صفحه اصلی";
}
<div class="row">

    <div class="col-lg-3 col-md-6">
        <div class="card-box">
            <div class="dropdown pull-right">
                <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
                    <i class="zmdi zmdi-more-vert"></i>
                </a>
            </div>

            <h4 class="header-title m-t-0 m-b-30">درآمد کل</h4>

            <div class="widget-chart-1 text-center">


                <div class="widget-detail-1">
                    <h2 class="p-t-10 m-b-0"> @Model.Counts.TotalIncome.ToMoney() تومان </h2>
                    <p class="text-muted">درآمد کل</p>
                </div>
                <div class="progress progress-bar-success-alt progress-sm m-b-0">
                    <div class="progress-bar progress-bar-success" role="progressbar"
                         aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
                         style="width: 100%;">
                        <span class="sr-only"></span>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6">
        <div class="card-box">
            <div class="dropdown pull-right">
                <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
                    <i class="zmdi zmdi-more-vert"></i>
                </a>

            </div>

            <h4 class="header-title m-t-0 m-b-30">تعداد کل نظرات
            </h4>

            <div class="widget-box-2">
                <div class="widget-detail-2">
                    <h2 class="m-b-0"> @Model.Counts.TotalComment </h2>
                    <p class="text-muted m-b-25">تعداد کل دیدگاه ها</p>
                </div>
                <div class="progress progress-bar-success-alt progress-sm m-b-0">
                    <div class="progress-bar progress-bar-primary-alt" role="progressbar"
                         aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
                         style="width: 100%;">
                        <span class="sr-only">77% مجموع</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="card-box">
            <div class="dropdown pull-right">
                <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
                    <i class="zmdi zmdi-more-vert"></i>
                </a>

            </div>

            <h4 class="header-title m-t-0 m-b-30">تعداد کل سفارش ها
            </h4>

            <div class="widget-box-2">
                <div class="widget-detail-2">
                    <h2 class="m-b-0"> @Model.Counts.TotalOrders </h2>
                    <p class="text-muted m-b-25">تعداد کل سفارش ها</p>
                </div>
                <div class="progress progress-bar-warning progress-sm m-b-0">
                    <div class="progress-bar progress-bar-primary-alt" role="progressbar"
                         aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
                         style="width: 100%;">
                        <span class="sr-only">77% مجموع</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="card-box">
            <div class="dropdown pull-right">
                <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
                    <i class="zmdi zmdi-more-vert"></i>
                </a>

            </div>

            <h4 class="header-title m-t-0 m-b-30">تعداد کل محصولات
            </h4>

            <div class="widget-box-2">
                <div class="widget-detail-2">
                    <h2 class="m-b-0"> @Model.Counts.TotalProducts </h2>
                    <p class="text-muted m-b-25">تعداد کل محصولات</p>
                </div>
                <div class="progress progress-bar-warning progress-sm m-b-0">
                    <div class="progress-bar progress-bar-purple" role="progressbar"
                         aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
                         style="width: 100%;">
                        <span class="sr-only">77% مجموع</span>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

<div class="row">
    <div class="col-lg-4">
        <div class="card-box">
            <div class="dropdown pull-right">
                <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
                    <i class="zmdi zmdi-more-vert"></i>
                </a>
            </div>

            <h4 class="header-title m-t-0">فروش روزانه</h4>

            <div class="widget-chart text-center">

                <canvas width="300" id="doughnut"></canvas>

            </div>
        </div>
    </div>

    <div class="col-lg-8">
        <div class="card-box">
            <div class="dropdown pull-right">
                <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
                    <i class="zmdi zmdi-more-vert"></i>
                </a>
            </div>
            <h4 class="header-title m-t-0">آمارها</h4>

                <canvas  id="bar"></canvas>

        </div>
    </div>


</div>


<div class="row">
    <div class="col-lg-4">
        <div class="card-box">
            <div class="dropdown pull-right">
                <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
                    <i class="zmdi zmdi-more-vert"></i>
                </a>

            </div>

            <h4 class="header-title m-t-0 m-b-30">جعبه پیام های دریافتی</h4>

            <div class="inbox-widget nicescroll" style="height: 315px;">
                @foreach (var item in Model.LatestComment)
                {
                    <div class="inbox-item">

                        <p class="inbox-item-author">
                            @item.Name

                            @if (item.IsConfirmed)
                            {
                                <span class="badge badge-success">تایید شده</span>
                            }
                            else
                            {
                                <span class="badge badge-danger">در انتظار تایید</span>

                            }
                        </p>
                        <p class="inbox-item-text">ثبت شده برای : @item.OwnerRecordName</p>
                        <p class="inbox-item-date">@item.CreateDate</p>
                    </div>
                }


            </div>
        </div>
    </div>

    <div class="col-lg-8">
        <div class="card-box">
            <div class="dropdown pull-right">
                <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
                    <i class="zmdi zmdi-more-vert"></i>
                </a>

            </div>

            <h4 class="header-title m-t-0 m-b-30">آخرین سفارشات ثبت شده</h4>

            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>خریدار</th>
                            <th>مبلغ پرداخت</th>
                            <th>تاریخ ثبت سفارش</th>
                            <th>وضعیت</th>
                            <th>نحوه پرداخت</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.LatestOrders)
                        {
                            <tr>
                                <td>@item.OrderId</td>
                                <td>@item.AccountName</td>
                                <td>@item.PayAmount.ToMoney()تومان</td>
                                <td>@item.DateTime</td>
                                <td>
                                    @if (item.IsPaid)
                                    {
                                        <span class="label label-success">پرداخت شده</span>
                                    }
                                    else if (item.IsCanceled)
                                    {
                                        <span class="label label-danger">کنسل شده</span>
                                    }
                                    else if (!item.IsCanceled && !item.IsPaid)
                                    {
                                        <span class="label label-warning">در انتظار پرداخت</span>
                                    }
                                </td>
                                <td>@item.PaymentMethod</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.min.js" integrity="sha512-GMGzUEevhWh8Tc/njS0bDpwgxdCJLQBWG3Z2Ct+JGOpVnEmjvNx6ts4v6A2XJf1HOrtOsfhv3hBKpK9kE5z8AQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        const doughnutChartDiv = document.getElementById("doughnut");
        const doughnutData = @Html.Raw(JsonConvert.SerializeObject(Model.DoughnutDataSet));
        const doughnutChart = new Chart(doughnutChartDiv,
            {
                type: "doughnut",
                data: {
                    labels: ["فروش با تخفیف", "فروش بدون تخفیف"],
                    datasets: [doughnutData]
                },
                options: {
                    elements: {
                        bar: {
                            borderWidth: 1
                        }
                    }
                }
            });

        const data = @Html.Raw(JsonConvert.SerializeObject(Model.BarLineDataSet));

        const barChartDiv = document.getElementById("bar");
        const barChart = new Chart(barChartDiv,
            {
                type: "bar",
                data: {
                    labels: ["فروردین", "اردیبهشت", "خرداد", " تیر", "مرداد", "شهریور", "مهر", "آبان", "آذر", "دی", "بهمن", "اسفند"],
                    datasets: data
                },
                options: {
                    elements: {
                        bar: {
                            borderWidth: 1
                        }
                    }
                }
            });
    </script>
}
