@page
@using _0_Framework.Application
@using ShopManagement.Application.Contracts.Order
@model ServiceHost.Pages.CheckOutModel
@{
}

<div class="breadcrumb-area section-space--half">
    <div class="container wide">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-wrapper breadcrumb-bg">
                    <div class="breadcrumb-content">
                        <h1 class="breadcrumb-content__title">سبد خرید</h1>
                        <ul class="breadcrumb-content__page-map h4">
                            <li>
                                <a asp-page="./Index">صفحه اصلی</a>
                            </li>
                            <li>
                                <a class="active">تایید نهایی و پرداخت</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-content-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-wrapper">
                    <div class="page-content-wrapper">
                        <form method="post">
                            <div class="cart-table table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="pro-thumbnail">عکس</th>
                                            <th class="pro-thumbnail">محصول</th>
                                            <th class="pro-title">قیمت واحد</th>
                                            <th class="pro-price">تعداد</th>
                                            <th class="pro-price">درصد تخفیف</th>
                                            <th class="pro-quantity">مبلغ کل بدون تخفیف</th>
                                            <th class="pro-subtotal">مبلغ کل تخفیف</th>
                                            <th class="pro-remove">مبلغ پس از تخفیف</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.CheckOutCart.CartItems)
                                        {
                                            <tr>
                                                <td class="pro-thumbnail">
                                                    <a href="single-product.html">
                                                        <img src="~/UploadedFile/Pictures/@item.Picture" class="img-fluid"
                                                             alt="Product">
                                                    </a>
                                                </td>
                                                <td class="pro-title">
                                                    <a href="single-product.html">
                                                        @item.Name
                                                    </a>
                                                </td>
                                                <td class="pro-price">
                                                    <span>@item.Price</span>
                                                </td>
                                                <td class="pro-price">
                                                    <span>@item.Count</span>
                                                </td>
                                                <td class="pro-price">
                                                    <span>@item.DiscountRate%</span>
                                                </td>
                                                <td class="pro-subtotal">
                                                    <span>@item.TotalPrice.ToMoney() تومان</span>
                                                </td>
                                                <td class="pro-subtotal">
                                                    <span>@item.DiscountAmount.ToMoney() تومان</span>
                                                </td>
                                                <td class="pro-subtotal">
                                                    <span>@item.ItemPayAmount.ToMoney() تومان</span>
                                                </td>
                                            </tr>

                                        }
                                    </tbody>
                                </table>
                            </div>
                            <div class="row ">
                                <div class="col-lg-6 col-12 d-flex">
                                    <div class="checkout-payment-method">
                                        <h4>نحوه پرداخت</h4>
                                        @foreach (var method in PaymentMethod.GetList())
                                        {
                                            <div class="single-method">
                                                <input type="radio" id="payment_@method.Id" name="paymentMethod" value="@method.Id" @(PaymentMethod.GetList().First().Id == method.Id ? "checked" : "")>
                                                <label for="payment_@method.Id">@method.Name</label>
                                                <p data-method="@method.Id" style="display:@(PaymentMethod.GetList().First().Id == method.Id ? "block" : "none")">@method.Description</p>
                                            </div>
                                        }
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12 d-flex">
                                    <div class="cart-summary">
                                        <div class="cart-summary-wrap">
                                            <h4>خلاصه وضعیت فاکتور</h4>
                                            <p>مبلغ نهایی <span>@Model.CheckOutCart.TotalAmount.ToMoney() تومان</span></p>
                                            <p>مبلغ تخفیف <span>@Model.CheckOutCart.DiscountAmount.ToMoney() تومان</span></p>
                                            <h2>مبلغ قابل پرداخت <span>@Model.CheckOutCart.CartForPayAmount.ToMoney() تومان</span></h2>
                                        </div>
                                    
                                    </div>
                                </div>
                            </div>
                            <div class="row text-center">
                                <div class="col-12 text-center">
                                  <button type="submit" asp-page-handler="Pay" class="btn btn-success">ثبت سفارش و پرداخت</button>

                                </div>
                            </div>
                        </form>



                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
