@using _0_Framework.Application
@model _01_LampShadeQueries.Contracts.Menu.MenuQueryModel
@inject IAuthHelper authHelper
<div class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="header-wrapper d-none d-lg-flex">
                    <div class="logo">
                        <a href="/" >
                            <img src="~/Theme/assets/img/logo.png" class="img-fluid" alt="">
                        </a>
                    </div>
                    <div class="navigation-menu-wrapper">
                        <nav>
                            <ul>
                                <li class="h6">
                                    <a href="/">صفحه اصلی</a>
                                </li>
                                <li class="menu-item-has-children">
                                    <a class="h6">گروه محصولات</a>
                                    <ul class="sub-menu">
                                        @foreach (var item in Model.ProductCategories.Take(5))
                                        {

                                            <li>
                                                <a asp-page="./ProductCategory" asp-route-id="@item.Slug">@item.Name</a>
                                            </li>

                                        }

                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a class="h6" asp-page="./Articles">وبلاگ</a>
                                    <ul class="sub-menu">
                                        @foreach (var item in Model.ArticleCategories.Take(5))
                                        {
                                            <li class="menu-item-has-children">
                                                <a asp-page="./Articles" asp-route-id="@item.Slug">@item.Name</a>
                                                <ul class="sub-menu">
                                                    @foreach (var article in item.Articles.Take(3))
                                                    {
                                                        <li>
                                                            <a asp-page="./Article" asp-route-id="@article.Slug">@article.Title</a>
                                                        </li>
                                                    }
                                                </ul>
                                            </li>
                                        }

                                    </ul>
                                </li>

                         
                            </ul>
                        </nav>
                    </div>
                    <div class="header-icon-wrapper">
                        <ul class="icon-list">
                            <li>
                                <a href="javascript:void(0)" id="search-overlay-trigger">
                                    <i class="ion-ios-search-strong"></i>
                                </a>
                            </li>
                            <li>
                                <div class="header-cart-icon">
                                    <a href="#" id="minicart-trigger">
                                        <i class="ion-bag"></i>
                                        <span class="counter" id="cart_items_count">0</span>
                                    </a>
                                    <div class="mini-cart" id="mini-cart" style="right: -120px">
                                        <div class="cart-items-wrapper ps-scroll" id="cart_items_wrapper">

                                        </div>

                                        <div class="cart-buttons" id="cart-Buttons">

                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li>

                                @if (authHelper.IsAuthenticated())
                                {
                                    <div class="header-settings-icon">
                                        <a href="javascript:void(0)" class="header-settings-trigger"
                                           id="header-settings-trigger">
                                            <div class="setting-button">
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                            </div>
                                        </a>
                                        <div class="settings-menu-wrapper" id="settings-menu-wrapper" style="right: -120px">

                                            <div class="single-settings-block">
                                                <h4 class="title h6">حساب کاربری من </h4>
                                                <ul>
                                                    <li>
                                                        <a asp-area="Panel" asp-page="./Index">مشاهده حساب کاربری</a>
                                                    </li>
                                                    <li>
                                                        <a  asp-page="/Account" asp-page-handler="Logout">خروج</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                }
                                else
                                {


                                    <li style="font-size: 15px !important">
                                        <a style="font-size: 15px !important" asp-page="/Account"><span class="fa fa-user-circle"></span>ورود/ثبت نام</a>
                                    </li>

                                }

                            </li>
                          
                        </ul>
                    </div>
                </div>


                <div class="header-mobile-navigation d-block d-lg-none">
                    <div class="row align-items-center">
                        <div class="col-6 col-md-6">
                            <div class="header-logo">
                                <a href="/">
                                    <img src="~/Theme/assets/img/logo.png" class="img-fluid" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-6 col-md-6">
                            <div class="mobile-navigation text-right">
                                <div class="header-icon-wrapper">
                                    <ul class="icon-list justify-content-end">
                                        <li>
                                            <div class="header-cart-icon">
                                                <a asp-page="./Cart" id="minicart-trigger">
                                                    <i class="ion-bag"></i>
                                                    <span class="counter" id="cart_items_count">0</span>
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)" class="mobile-menu-icon"
                                               id="mobile-menu-trigger">
                                                <i class="fa fa-bars"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--=======  End of mobile navigation area  =======-->

            </div>
        </div>
    </div>
</div>

<div class="offcanvas-mobile-menu" id="offcanvas-mobile-menu">
    <a href="javascript:void(0)" class="offcanvas-menu-close" id="offcanvas-menu-close-trigger">
        <i class="ion-android-close"></i>
    </a>

    <div class="offcanvas-wrapper">

        <div class="offcanvas-inner-content">
            <div class="offcanvas-mobile-search-area">
                <form action="#">
                    <input type="search" placeholder="جست و جو ...">
                    <button type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </form>
            </div>
            <nav class="offcanvas-navigation">
                <ul>
                    <li class="menu-item-has-children">
                        <a href="/">صفحه اصلی</a>
                        <ul class="sub-menu">
                        </ul>
                    </li>
                    <li class="menu-item-has-children">
                        <a >گروه محصولات</a>
                        <ul class="sub-menu">

                            @foreach (var item in Model.ProductCategories.Take(5))
                            {

                                <li>
                                    <a asp-page="./ProductCategory" asp-route-id="@item.Slug">@item.Name</a>
                                </li>

                            }
                        </ul>
                    </li>
                    <li class="menu-item-has-children">
                        <a class="h6" asp-page="./Articles">وبلاگ</a>
                        <ul class="sub-menu">

                            @foreach (var item in Model.ArticleCategories.Take(5))
                            {
                                <li class="menu-item-has-children">
                                    <a asp-page="./Articles" asp-route-id="@item.Slug">@item.Name</a>
                                    <ul class="sub-menu">
                                        @foreach (var article in item.Articles.Take(3))
                                        {
                                            <li>
                                                <a asp-page="./Article" asp-route-id="@article.Slug">@article.Title</a>
                                            </li>
                                        }
                                    </ul>
                                </li>
                            }
                        </ul>
                    </li>



                </ul>
            </nav>

            <div class="offcanvas-settings">
                <nav class="offcanvas-navigation">
                    <ul>
                        <li class="menu-item-has-children">
                            <a href="#">حساب کاربری من </a>
                            <ul class="sub-menu">
                                @if (authHelper.IsAuthenticated())
                                {
                                    <ul>
                                        <li>
                                            <a asp-area="Panel" asp-page="./Index">مشاهده حساب کاربری</a>
                                        </li>
                                        <li>
                                            <a asp-page="/Account" asp-page-handler="Logout">خروج</a>
                                        </li>
                                    </ul>

                                }
                                else
                                {


                                    <li style="font-size: 15px !important">
                                        <a style="font-size: 15px !important" asp-page="/Account"><span class="fa fa-user-circle"></span>ورود/ثبت نام</a>
                                    </li>

                                }
                            </ul>
                        </li>

                    </ul>
                </nav>
            </div>

         
        </div>
    </div>

</div>

