@model List<_01_LampShadeQueries.Contracts.ProductCategory.ProductCategoryQueryModel>
<div class="category-area section-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!--=======  category wrapper  =======-->
                <div class="category-wrapper">
                    <div class="row row-10 masonry-category-layout">
                        @foreach (var item in Model.Take(4))
                        {
                            <div class="col-lg-4 col-sm-6 grid-item">
                                <!--=======  single category item  =======-->

                                <div class="single-category-item">
                                    <div class="single-category-item__image">
                                        <a asp-page="/ProductCategory" asp-route-id="@item.Slug">
                                            <img src="@item.Picture" class="img-fluid" alt="@item.PictureAlt" title="@item.PictureTitle">
                                        </a>
                                    </div>
                                    <div class="single-category-item__content">
                                        <h3 class="title">@item.Name</h3>
                                        <a asp-page="/ProductCategory" asp-route-id="@item.Slug">
                                            <i class="ion-android-arrow-dropleft-circle"></i> پیشنهاد بازدید
                                        </a>
                                    </div>
                                </div>

                                <!--=======  End of single category item  =======-->
                            </div>
                        }
                    </div>
                </div>
                <!--=======  End of category wrapper  =======-->
            </div>
        </div>
    </div>
</div>